* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.primary-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.primary-color {
  color: #e55473;
}
section {
  margin-bottom: 128px;
}
/* header section */
.header {
  height: 850px;
  background-color: #e554731a;
}
.banner-container {
  display: flex;
  gap: 97px;
  align-items: center;
}
.banner-text {
  padding-left: 150px;
}
.banner-tital {
  padding-top: 197px;
  color: #272727;
  font-size: 56px;
  font-weight: 800;
}
.banner-discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  padding: 32px 0px;
  font-weight: 400;
  line-height: 25px;
}
.banner-image {
  padding-right: 100px;
  padding-top: 50px;
}

main {
  background-color: #fff;
}

/* Featured Flowers style */
.feature-flower {
  height: 467px;
  background-color: #fff;
}






/* hot-deal style */
.hot-deal-container {
  height: 620px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
}
.hot-deal-text {
  padding-left: 200px;
}
.hot-deal-tital {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-discrition {
  color: rgba(39, 39, 39, 0.6);
  width: 85%;
  margin: auto;
  padding: 30px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.hot-deal-image {
  margin-right: 200px;
  padding: 100px 0px;
}

/* Hot Deal style */
.instagram-text {
  text-align: center;
}
.instagram-tital {
  color: #272727;

  font-size: 40px;

  font-weight: 800;
}
.instagram-discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 24px;
  width: 50%;
  margin: auto;
  padding-bottom: 48px;
}

.instagram-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card {
  width: 315px;
  height: 370px;
}
.cade-1 {
  background-image: url("flower-images/flower 01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-2 {
  background-image: url("flower-images/rectangle\ 4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-3 {
  background-image: url("flower-images/rectangle\ 5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-4 {
  background-image: url("flower-images/rectangle\ 6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Get The Latest style */
.latest {
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-container {
  width: 1340px;
  height: 449px;
  margin: 0px 0px;
  background-image: url("flower-images/rectangle\ 9.png");
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.latest-tital {
  color: #272727;
  font-size: 40px;
  padding-top: 122px;
  font-weight: 800;
}
.latest-discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 22px;
  padding-bottom: 48px;
}

.latest-btn {
  border-radius: 8px;
  background: #e55473;
  height: 64px;
  padding: 0px 30px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.input-email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: #fff;
  margin-right: 10px;
}
::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding-left: 22px;
}

/* footer style */
.footer {
  background-color: #111010;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
    text-align: center;
}
.footer-tital {
    padding-top: 128;
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 800;
}
.footer-discription{
 color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
line-height: 25px;
width: 65%;
margin: auto;
padding-top: 24px;
padding-bottom: 32px;
}
small{
color: rgba(255, 255, 255, 0.40);
font-size: 14px;
font-weight: 400;
}
