* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.primary-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.primary-btn:hover{
  background-color:#fff ;
  color: #e55473;
}
.primary-color {
  color: #e55473;
}
section {
  margin-bottom: 128px;
}
.discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

/* header section */
.header {
  height: 100vh;
  /* height:  850px; */
  background-color: #e554731a;
}
.banner-container {
  height: 100vh;
  display: flex;
  gap: 97px;
  justify-content: center;
  align-items: center;
}
.banner-text {
  padding-left: 150px;
}
.banner-tital {
  /* padding-top: 190px; */
  color: #272727;
  font-size: 56px;
  font-weight: 800;
}
.banner-discription {
  padding: 32px 0px;

}
.banner-image {
  padding-right: 100px;
  padding-top: 50px;
  width: 635px;
}

main {
  background-color: #fff;
}

/* Featured Flowers style */
.feature-flower {
  height: 720px;
  padding-top: 178px;
}
.feature-text {
  text-align: center;
}
.feature-tital {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.feature-discription {
  padding-top: 24px;
  padding-bottom: 48px;
  width: 45%;
  margin: auto;
}
.feature-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.cards {
  width: 430.67px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
}
.cards:hover{
    box-shadow:10px 10px 15px rgb(141, 156, 156) ;
}
.cards-1 {
  background-color: #a7216226;
}

.cards-img-1 {
  padding: 0px 78px;
  padding-top: 72px;
}
.cards-2 {
  background-color: #0597a026;
}

.cards-img-2 {
  padding: 100px 47px 51px 47px;
  padding-top: 72px;
}
.cards-3 {
  background-color: #477d1126;
}

.cards-img-3 {
  padding-top: 29px;
  padding-left: 75px;
  padding-right: 75px;
}

.flower {
  display: flex;
  /* width: 1340px; */
  text-align: center;
  /* padding-left: 50px; */
  /* justify-content: space-around; */
  margin-top: 25px;
}
.flower-tital {
  color: #272727;
  /* text-align: center; */
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.flower-1{
   margin-left: 180px;
   padding-right: 220px;
}
.flower-2{
  padding-right: 220px;
}

/* flower maintenance style */
.maintenance {
  display: flex;
  justify-content: center;
}
.flower-maintenance {
  width: 1340px;
  height: 320px;
  background-color: #2727270d;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.flower-maintenance-discription {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  padding-top: 24px;
}

/* blog section style */
.blog{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container{
  width: 1340px;
  text-align: center;
 
}
.blog-tital{
 margin-bottom: 40px;

}
.blog-cadrs{
display: flex;
gap: 24px;
justify-content: center;

}
.blog-card{
  width: 430.67px;
  height: 540px;
 border: none;
 background-color: #e7e4e4;
 border-radius: 25px;
cursor: pointer;
}
.blog-card:hover{
  box-shadow: 10px 10px 12px rgb(104, 125, 143);
}
.blog-cadrs img{
  width: 430.67px;
  border-radius: 25px 25px 0px 0px;
}
.blog-card-tital{
  padding-top: 20px;
  padding-left: 20px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.blog-admin{
  padding-top: 15px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #010101;
}
.blog-card-discription{
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  color: #010101;
  padding-bottom: 15px;
}
.blog-cadrs a{
  text-decoration: none;
  font-weight: bolder;
}

/* hot-deal style */
.hot-deal-container {
  height: 580px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
}
.hot-deal-text {
  padding-left: 200px;
}
.hot-deal-tital {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-discrition {
  width: 85%;
  margin: auto;
  padding: 30px 0px;
}
.hot-deal-image {
  margin-right: 200px;
  padding: 100px 0px;
}

/* Instagram sectioin style */
.instagram-text {
  text-align: center;
}
.instagram-tital {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram-discription {
  width: 50%;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 48px;
}

.instagram-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card {
  width: 315px;
  height: 370px;
  border: none;
}
.card:hover{
box-shadow:10px 10px 15px rgb(141, 156, 156) ;
}
.cade-1 {
  background-image: url("flower-images/flower 01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-2 {
  background-image: url("flower-images/rectangle\ 4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-3 {
  background-image: url("flower-images/rectangle\ 5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cade-4 {
  background-image: url("flower-images/rectangle\ 6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* history style */
.history{
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.history-container {
  width: 1340px;
  height: 520px;
  background-color: #f5f5f5;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.history-text{
  width: 50%;
  margin: auto;
}
.history-style-tital{
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 3px;
  margin: 0 0 15px 0;
  font-family: "Great Vibes", cursive;
}
.history-tital{
  font-size: 70px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 40px;
}
.history-discription{
color: #010101;
padding: 40px 0px;
}
q{
  font-size: 20px;
  line-height: 30px;
  font-family: "Josefin Slab", serif;
}

/* Get The Latest style */
.latest {
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-container {
  width: 1340px;
  height: 449px;
  margin: 0px 0px;
  background-image: url("flower-images/rectangle\ 9.png");
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
}
.latest-tital {
  color: #272727;
  font-size: 40px;
  padding-top: 122px;
  font-weight: 800;
}
.latest-discription {
  padding-top: 22px;
  padding-bottom: 48px;
}

.latest-btn {
  border-radius: 8px;
  background: #e55473;
  height: 64px;
  padding: 0px 30px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.latest-btn:hover{
  background-color:#fff ;
  color: #e55473;
}
.input-email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: #fff;
  margin-right: 10px;
}
::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding-left: 22px;
}

/* footer style */
.footer {
  background-color: #111010;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  text-align: center;
}
.footer-tital {
  padding-top: 128;
  color: #ffffff;
  font-size: 45px;
  font-weight: 800;
}
.footer-discription {
  width: 65%;
  color: rgba(255, 255, 255, 0.90);;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-smaill {
  color: rgba(219, 215, 215, 0.863);
  font-size: 14px;
  font-weight: 400;
}
.icons {
  margin-bottom: 32px;
}
.icons a {
  font-size: 22px;
  padding: 5px;
  color: rgb(195, 205, 231);
}
